.information-section{
    background: #fff;
}
.information-context-section{
  padding: 20px 0;
}
.information-context-section h1{
  text-align: center;
  font-size: 2.4rem;
  font-weight: bold;
  padding: 10px;
}
.information-context-section h1 span{
  color: var(--color-green-001);
}
.information-context-section p{
  text-align: center;
  font-weight: lighter;
  font-size: 20px;
}
.info-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  padding: 2rem 0;
}
.info-card-context{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 10px 0;
}

.info-card {
  background: #fff;
  border-radius: 12px;
  padding: 1.5rem;
  width: 350px;
  transition: transform 0.3s ease;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.info-card:hover {
  transform: translateY(-5px);
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f0fdf4;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-bottom: 1rem;
  color: #059669;
}

.info-card.estrutura .icon-container {
  background: #ecfdf5;
  color: #10b981;
}

.info-card.seguranca .icon-container {
  background: #fff7ed;
  color: #f97316;
}

.info-card.comodidades .icon-container {
  background: #f9fafb;
  color: #4b5563;
}

.info-card h3 {
  text-align: center;
  font-weight: bold;
  margin-bottom: 1rem;
  font-size: 1rem;
}
.estrutura h3{
  color: #10b981;
}
.seguranca h3{
  color: #f97316;
}
.comodidades h3{
  color: #4b5563;
}

.info-card ul {
  list-style: none;
  padding: 0;
}

.info-card ul li {
  padding-left: 1.2rem;
  position: relative;
  margin-bottom: 0.6rem;
  color: #374151;
  font-size: 0.95rem;
}

.info-card ul li::before {
  content: "✔";
  position: absolute;
  left: 0;
  color: #10b981;
  font-size: 0.85rem;
}
