.hero-section {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 500px;
  border-radius: 0px 0px 20px 20px;
  overflow: hidden;
}

.hero-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.699);
  z-index: 1;
}
.localizacao {
  padding: 60px 0;
  display: flex;
  gap: 40px;
  align-items: stretch;
  justify-content: space-between;
}

.localizacao-inf {
  flex: 1;
  background: var(--color-white-001);
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 5px 15px var(--color-shadow-001);
}

.localizacao-inf h3 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: var(--color-black-005);
}
.localizacao-inf h3 span {
  color: var(--color-green-007);
}
.localizacao-inf-div{
  padding: 10px 0;
}

.localizacao-inf-div h4 {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--color-black-005);
  margin-bottom: 10px;
}

.localizacao-inf-div h4 .icon {
  color: var(--color-green-007);
  font-size: 1.2em;
}

.localizacao-inf p {
  font-size: 14px;
  margin: 4px 0;
  color: var(--color-black-005);
}

.localizacao-map {
  flex: 1.5;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media(max-width: 480px){
  /* Hero Section */
  .hero-section {
    min-height: 90vh;
    border-radius: 0 0 15px 15px;
  }
  .hero-section .hero-section-content {
    padding: 60px 20px;
    align-items: center;
    text-align: center;
  }
  .hero-section .hero-section-info h2 {
    font-size: 2.5rem;
  }
  .hero-section .hero-section-info p {
    font-size: 1rem;
    line-height: 1.6;
    max-width: 100%;
    text-align: center;
  }

  /* Localização */
  .localizacao {
    flex-direction: column;
    gap: 20px;
    padding: 30px 15px;
    width: 100%;
  }

  .localizacao-inf {
    padding: 20px;
  }

  .localizacao-inf h3 {
    font-size: 1.5rem;
    text-align: center;
  }

  .localizacao-inf-div h4 {
    font-size: 1rem;
  }

  .localizacao-map {
    flex: 1;
    width: 100%;
    height: 300px;
  }

  .localizacao-map iframe {
    border-radius: 15px;
    width: 100%;
    height: 100%;
  }
}